html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 4% 24% 24% 24% 24%;
  height: 100vh;
}

#status {
  color: darkgray;
  font-size: 17px;
  align-items: right;
  background-color: white;
  grid-column: 1 / 5;
}

#photo {
  border-radius: 50%;
  border: green;
  margin: 0 10px;
  height: auto;
  justify-content: ;
  grid-column: 2 / 3;
}

#name {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: end;
  grid-column: 1 / 5;
  background-color: white;
  grid-template-columns: minmax(auto, 1200px);
}

h1{
  margin: 0;
}

#name > p {
  margin: 0;
}

#occupation {
  display: flex;
  font-size: 35px;
  justify-content: center;
  background-color: lightgray;
  align-items: end;
  grid-column: 1 / 5;
}

#brand {
  display: flex;
  font-size: 30px;
  justify-content: ;
  align-items: center;
  background-color: white;
  grid-column: 1 / 5;
}

#offer {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: white;
  grid-column: 1 / 5;
}



#contact {
  display: flex;
  font-size: 40px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(42, 182, 119);
  grid-column: 1 / 5;
}


@media only screen and (max-width: 1026px) {
  #brand {
      display: none;
  }
}